<h1>Customize your order</h1>
<div class="catalog">
    <div class="column">
        <img src="{{doner.imageUrl}}">
    </div>
    <div class="column">
        <h2>{{doner.category}} doner, {{doner.size}}cm</h2>
        <h3>Toppings</h3>
        <div class="toppings">
            <form id="order-form" action="/product/order/:id" method="POST">
            
                <input name="id" type="hidden" value="{{doner._id}}">
                {{#each doner.toppings}}
                <input id="{{this}}" name="{{this}}" type="checkbox" value="{{this}}" checked><label
                    for="{{this}}">{{this}}</label><br />
                {{/each}}
            </form>
        </div>
        <a class="button" href="javascript:document.getElementById('order-form').submit()">Checkout</a>
    </div>
</div>