{{#if currentUser}}
{{#if isAdmin}}
<div class="row">
    {{#if courses}}
    <div class="col text-center">
        <a href="/course/create"><button type="button" class="btn btn-primary btn-lg">Create Course</button></a>
    </div>
</div>


<div class="border border-light p-5">
    <h1 class="text-center">Choose Course</h1>
    <ul class="list-group">

        {{#each courses}}
        <li class="list-group-item">
            {{this.title}}
            <div class="float-right">
                <div class="btn-group" role="group">
                    <a href="/course/edit/{{this._id}}"><button type="button" class="btn btn-warning">Edit Course</button></a>
                    <a href="/admin/panel/{{this._id}}"><button type="button" class="btn btn-success">Add lectures</button></a>
                </div>
                Lectures in course
                <span class="badge badge-primary badge-pill"></span>
            </div>
        </li>
        {{/each}}

        {{else}}
        <div>
            <div class="col text-center">
            <a href="/course/create"><button type="button" class="btn btn-primary btn-lg">Add Course</button></a>
        </div>
        <h2>No courses in Database. Please create one!</h2>
        </div>
        {{/if}}


    </ul>
</div>
{{else}}
<h1 class="text-center">Courses</h1>

<form action="/search" class="search">
    <label>Search: </label>
    <input name="name" type="text">
    <input type="submit" value="Search">
</form>

<div class="container mt-3">
    <div class="row ">
        <div class="card-deck d-flex justify-content-center">
            {{#each courses}}
            <div class="card mb-4">
                <img class="card-img-top" src={{this.image}} alt="Card image cap" width="400">
                <div class="card-body">
                    <h4 class="card-title">{{this.title}}</h4>
                    <p class="card-text">{{this.description}}</p>
                </div>
                <div class="card-footer">
                    <a href="/details/course/{{this._id}}"><button type="button" class="btn btn-info">Details</button></a>
                </div>
            </div>
            {{/each}}


        </div>
    </div>
</div>
{{/if}}
{{else}}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Video Tutorials</h1>
        <p class="lead">Start Self-Study Today: It'll Change Your Life</p>
    </div>
</div>

<div>
    <h1 class="text-center">Top Courses</h1>
    <div class="container mt-3">
        <div class="row d-flex justify-content-center">

            <div class="card-deck">
                {{#each public}}
                <div class="card mb-4">
                    <img class="card-img-top" src={{this.image}} alt="Card image cap" width="400">
                    <div class="card-body">
                        <h4 class="card-title">{{this.title}}</h4>
                        <p class="card-text">{{this.description}}</p>
                    </div>
                </div>

                {{/each}}
            </div>
        </div>
    </div>
</div>

{{/if}}