<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doner Place</title>
    <link href="/css/site.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            {{#if currentUser}}
             <span class="logo">Doner  Place</span>       
            <span class="greeting">Welcome, {{currentUser.username}}!  <form id="logout-form" action="/logout" method="post"></form>
                    <a href="javascript:document.getElementById('logout-form').submit()">[logout]</a></span>
            {{/if}}
            <ul class="menu">
				<li><a class="button" href="/">Home</a></li>              
                {{#if currentUser}}
                                 <li><a class="button" href="/order/status">Order Status</a></li>
                {{else}}
                <li><a class="button" href="/login">Login</a></li>
                <li><a class="button" href="/register">Register</a></li>
                {{/if}}
            </ul>
            
        </header>
        <main>
            {{#if globalError}}
            <span>{{globalError}}</span> {{/if}} {{{body}}}
        </main>
        <footer>Doner Place &copy; 2017</footer>
    </div>
</body>
</html>



{{!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Demo Server</title>
    <link href="/css/site.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <header>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                {{#if currentUser}}
                <li>{{currentUser.username}}</li>
                <li>
                    <form id="logout-form" action="/logout" method="post"></form>
                    <a href="javascript:document.getElementById('logout-form').submit()">Logout</a>
                </li>
                {{else}}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                {{/if}}
            </ul>
        </header>
        <main>
            {{#if globalError}}
            <span>{{globalError}}</span> {{/if}} {{{body}}}
        </main>
    </div>
</body>

</html> --}}